{% extends 'base.html' %}


{% load static %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Prescription</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
   -->
  {% block work_history %}

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
          <a href='{% url "home" %}' class="navbar-brand"><b>SMART HEALTHCARE SYSTEM</b></a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href='{% url "doctor_home" %}' class="nav-link">Home</a>
              </li>

  <!--
              <li class="nav-item">
                <a href='{% url "contact_doctor" %}' class="nav-link">Contact</a>
              </li> -->
              <li class="nav-item">
                <a href='{% url "show_appointments:index" %}' class="nav-link">Show Appointments</a>
              <li class="nav-item">
                <a href='{% url "work_history:index" %}' class="nav-link">Work History</a>
              </li>
              <li class="nav-item active">
                <a href='{% url "logout" %}' class="nav-link">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>



  <div class="container-fluid">

          <div class="col-sm-8 col-md-12" style="padding-right:20px">

              <div class="panel panel-default" style="padding-right:20px">
                  <div class="panel-body">
                    <br>
                      <h3>&nbspHello Dr. {{first_name}}  {{last_name}}  </h3>

                      {% if error_message %}
                          <p><strong>{{ error_message }}</strong></p>
                      {% endif %}
                      <br>
                      <table class="table table-striped table-hover ">
                          <thead>
                          <tr>
                              <th>Appointment Date</th>
                              <th>Appointment Time</th>
                              <th> Patient's Name </th>
                              <th style='width:10%'> Age </th>
                              <th> Gender </th>
                              <th> Illness </th>
                              <th>Prescription</th>

                          </tr>
                          </thead>
                          <tbody>
                          {% for appointment in appointments %}
                              <tr>
                                  <td> {{appointment.date.date}}</td>
                                  <td> {{appointment.time.start_time}}</td>
                                  <td> {{appointment.paitent.first_name}} {{appointment.paitent.last_name}}</td>
                                  <td> {{appointment.paitent.age}}</td>
                                  <td> {{appointment.paitent.gender}} </td>
                                  <td> {{appointment.paitent.description_of_illness }} </td>
                                  <td><a href="/media/{{appointment.prescription.pdf}}"> Download Prescription </a></td>


                              </tr>
                          {% endfor %}
                          </tbody>
                      </table>

                  </div>
              </div>

          </div>

      </div>


      </br></br></br></br></br></br></br></br></br></br></br></br>
      {% endblock %}

</body>
</html>
