{% extends 'base.html' %}


{% load static %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Prescription</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
   -->
  {% block work_history %}

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a href="index.html" class="navbar-brand"><b>SMART HEALTHCATRE SYSTEM</b></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href='{% url "doctor_home" %}' class="nav-link">Home</a>
        </li>

        <li class="nav-item">
          <a href='{% url "how_we_work" %}' class="nav-link">How we work</a>
        </li>
        <li class="nav-item">
          <a href='{% url "contact" %}' class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href='{% url "prescription:Prescription_Add" %}' class="nav-link">Make Prescription</a>
        </li>
        <li class="nav-item">
          <a href='{% url "work_history:index" %}' class="nav-link">Work History</a>
        </li>
        <li class="nav-item active">
          <a href='{% url "logout" %}' class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>


  <div class="container-fluid songs-container">
    <!-- Right Song Info -->
          <div class="col-sm-8 col-md-9">

              <div class="panel panel-default">
                  <div class="panel-body">
                    <br>
                      <h3>&nbsp&nbspHello Dr. {{first_name}}  {{last_name}}  </h3>

                      {% if error_message %}
                          <p><strong>{{ error_message }}</strong></p>
                      {% endif %}

                      <table class="table">
                          <thead>
                          <tr>
                              <th>Appointment Date and time</th>
                              <th>Prescription</th>

                          </tr>
                          </thead>
                          <tbody>
                          {% for prescription in prescriptions %}
                              <tr>
                                  <td> {{prescription.prescription_date}}</td>
                                  <td><a href="/media/{{prescription.pdf}}"> Download Prescription </a></td>


                              </tr>
                          {% endfor %}
                          </tbody>
                      </table>

                  </div>
              </div>

          </div>

      </div>


      </br></br></br></br></br></br></br></br></br></br></br></br>
      {% endblock %}

</body>
</html>
