{% extends "shoppingPortalApp/base.html" %}

{% block content %}
{{ block.super }}
      <form id="searchForm"   action="{% url 'result' %}" method="GET" autocomplete="off">
        {% csrf_token %}
        <div style="text-align: center;">
          <div class="autocomplete" style="width: 30%;">
            <input type="text" name="query" id="query" placeholder="Search For A Medicine Here..." >
          </div>
          <input type="submit" id="search-submit" value="Search"> 
        </div>
      </form><br>
{% if value %}
	<div class="container">
		<div class="row">
			<div class="col-md-3 medicine_1">
				<div class="col-md-12">
					<img src="{{ searched_medicine.image.url }}" width="220" class="img-responsive" style="margin-top: 5%"><hr>
					<a href='{{ searched_medicine.get_absolute_url_page }}'>
						{{ searched_medicine.name }}
					</a> <br>
					Price : <span style="color: red;"><i style='font-size:15px' class='fas'>&#xf156;</i>{{ searched_medicine.price }}</span><br><br>
					<i><span style="font-size: 10px;">by <a href="#">{{searched_medicine.manufacturedBy}}</a></span></i>
					<br><br><br><br>
				</div>
			</div>
		</div>
	</div>
{% else %}
	<div style="text-align: center;font-size: 25px;word-spacing: 4.5px;">
		Sorry !! We couldn't find <span style="color: red;">{{searchItem}}</span>
	</div><br>
	<div style="text-align: center;">
	<h4 style="text-align: center;"><a href="{% url 'main' %}" style="text-decoration: none;">Go Back </a></h4><br>
	</div>
{% endif %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-6" style="background-color: green;text-align: center;">
			<a href="{% url 'add_medicine' %}" class="bt-add-medicine" style="text-decoration: none;" ><i class="fa fa-plus"></i> Add Medicine</a>
		</div>
		<div class="col-md-6 col-sm-6"  style="background-color: red;text-align: center;">
			<a href="{% url 'del_medicine' %}" class="bt-del-medicine" style="text-decoration: none;" ><i class="fa fa-minus"></i> Delete Medicine</a>
		</div>
	</div>
</div>
<script>
function autocomplete(inp, arr) {
  var currentFocus;
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      this.parentNode.appendChild(a);
      for (i = 0; i < arr.length; i++) {
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          b = document.createElement("DIV");
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          b.addEventListener("click", function(e) {
              inp.value = this.getElementsByTagName("input")[0].value;
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        currentFocus++;
        addActive(x);
      } else if (e.keyCode == 38) { 
        currentFocus--;
        addActive(x);
      } else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) {
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

var countries = [{% for medicine in all_medicines %}"{{ medicine.name }}",{% endfor %}];

autocomplete(document.getElementById("query"), countries);
</script>
{% endblock content %}


