{% extends "shoppingPortalApp/base.html" %}
{% load widget_tweaks %}



{% block content %}
{{block.super}}
<div class="container" style="text-align: center;">
	<div class="row">
		<div class="col-md-12" style="font-size: 50px;">
			Edit / Delete the Medicine Here
		</div>
	</div><br>
	<div class="row">
		<div class="col-md-12">

				<div class="container" style="text-align: center;">
					<div class="row">
					<div class="col-md-11">
						<form method="POST" action="">
							{% csrf_token %}
							<div class="col-md-4">
							{{ form.name_to_del | add_class:"md-del-input" | attr:"placeholder:Search Medicine Name..."}}
							</div>
							<div class="col-md-2">
								<input type="submit" class="del_submit" value="Search">
							</div>
							<div class="col-md-2">
								<button class="del_submit"><a href="{% url 'shoppingPortalApp:del_edit_medicine' %}" style="text-decoration:none;color: white;">Show all Medicines</a></button>
							</div>
							<div class="col-md-2">
								<button class="del_submit2" style="background-color: red;"><a href="{% url 'shoppingPortalApp:add_medicine' %}" style="text-decoration:none;color: white;">Add Medicine</a></button>
							</div>

						</form>
					</div>
					</div>
				</div>
						
		</div>
	</div><br>
</div>

<div class="container">
	<table class="table table-striped">
		<tr>
			<th>Medicine</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for medicine in medicines %}
		<tr>
			<td>{{ medicine.name }}</td>
			<td>
				<a href="{% url 'shoppingPortalApp:update_medicine' medicine.id %}">
					<i class="fa fa-edit" id="edit-icon" style="font-size:25px;"></i>
				</a>
			</td>
			<td>
				<a href="{% url 'shoppingPortalApp:delete' medicine.id %}">
					<i class="fa fa-trash-o" style="font-size:25px"></i>
				</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock content %}


