{% extends "shoppingPortalApp/base.html" %}
{% load widget_tweaks %}



{% block content %}
<div class="container" style="text-align: center;">
	<div class="row">
		<div class="col-md-12" style="font-size: 50px;">
			Delete Your Desired Medicine Here
		</div>
		<div class="col-md-12">
			<form method="POST" action="">
				{% csrf_token %}
				<div class="container" style="text-align: center;">
					<div class="row">
					<div class="col-md-8">
						{{ form.name | add_class:"del-name"}}<input type="submit">
					</div>
					<div class="col-md-6"></div>
					</div>
				</div>
			</form>				
		</div>
	</div>
</div>

{% endblock content %}


