@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

#query{
    text-align: center;
}

.searchBar{
    text-align: center;   
}
.add-container{
    background-color: #d6d6c2;
}

.bt-add-medicine{
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 15px;
  cursor: pointer;
  margin: 5px;
  border-radius: 60px;
}

.bt-add-medicine:hover{
    color: white;
    box-shadow: 1.5px 3px 15px gray;
}
.bt-del-medicine{
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 15px;
  cursor: pointer;
  margin: 5px;
  border-radius: 60px;
}

.bt-del-medicine:hover{
    color: white;
    box-shadow: 1.5px 3px 15px gray;
}

.big-input{
    width: 100%;
    height: 100px;
    border: 1px solid transparent;
}
.md-input{
  border: 1px solid transparent;
  padding: 6px;
  font-size: 16px;
  width: 100%;
}
.add-container{
    /*border: 1px solid black;*/
}
.submit-add{
    width: 100%;
    background-color: green;
    color: white;
    padding: 10px;
}



.card:hover{
  cursor: pointer;
}
.jumbotron{
    margin-bottom: 0px;
    background-image: url(../img/ShopOnline/back-emedics.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.medicine_image{
    width: 200px;
    height: 300px;
}
.img_list{
    width: 200px;
    height: 166px;
}
.button {
  border-radius: 4px;
  background-color: #ff7926;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 90%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s
}

.button:hover span {
  padding-right: 25px;
  
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  
}


.back-link{
  text-align: center;
  vertical-align: middle;
  background-color: #b3c6ff;
  height: 50px;
  font-size: 20px;
  width: 50%;
}

.back-link2{
  color:black;
  margin-top: 10%;
}
.back-link2:hover{
  color: white;
}
.back-main{
  color: black;
}

.back-main:hover{
  color: #ebebe0;
}




.button-cart{
    border: none;
    color: white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position: relative;
    border-radius: 2px;

}

.button-cart{
    background-color: #ff751a;
    color: white; 
    border: 2px solid #ff751a;
}

.button-cart:hover{
  /*word-spacing: 0.5px;*/
    color: white;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
}


.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.notification:hover {
    background-color: #ff751a;
    color: white; 
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}


.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}
.nav-link-shop{
  color: white;
  font-size: 18px;
  margin-top: 10px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.nav-link-shop:hover{
  color: white;
}



.carousel-content {
  position: absolute;
  color: black !important;
  bottom: 60%;
  left: 20%;
  z-index: 20;
  color: white;
}

#main-footer {
  background: #000;
  color: #fff;
  clear: both;
  position: relative;
  height: 57px;
  margin-top: -40px;
}



  .medicine_hover{
    padding: 10px;
    border: 1px solid white;
  }
  .medicine_hover:hover{
    border: 1px solid #e8e8e8;
  }



.fa-edit{
  color: black;
}
.fa-edit:hover{
  color:blue;
}

.fa-trash-o{
  color: black;
}
.fa-trash-o:hover{
  color: red;
}


.md-del-input{
  border: 1px solid lightblue;
  padding: 6px;
  font-size: 16px;
  width: 100%;
}

.del_submit{
  width: 100%;
  padding: 7px;
  color: white;
  border:none;
  background-color: #00a5ff;
  border:1px solid #00a5ff;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.del_submit:hover{
  /*border:1px solid blue;*/
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
}

.del_submit1{
  width: 100%;
  padding: 7px;
  color: white;
  border:none;
  background-color: green;
  border:1px solid green;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.del_submit1:hover{
  /*border:1px solid blue;*/
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
}



.del_submit2{
  width: 100%;
  padding: 7px;
  color: white;
  border:none;
  background-color: red;
  border:1px solid red;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.del_submit2:hover{
  /*border:1px solid blue;*/
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
}








.query{
  border: 1px solid transparent;
  padding: 6px;
  font-size: 16px;
  background-color: #f1f1f1;
  width: 100%;
}
.search_bt{
  border: 1px solid transparent;
  padding: 6px;
  font-size: 16px;
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}













.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top:100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
