{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block login %}

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a href='{% url "home" %}' class="navbar-brand"><b>SMART HEALTHCARE SYSTEM</b></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href='{% url "home" %}' class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href='{% url "about" %}' class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href='{% url "how_we_work" %}' class="nav-link">How we work</a>
          </li>
          <li class="nav-item">
            <a href='{% url "contact" %}' class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href='{% url "login" %}' class="nav-link">Login</a>
          </li>
           <li class="nav-item active">
            <a href='{% url "rmp:login_rmp_profile" %}' class="nav-link">Rmp Login</a>
          </li>
          <li class="nav-item nav-item-shop" style="background-color:red;border: 15px;">
            <a href='{% url "shoppingPortalApp:main" %}' class="nav-link-shop" style="text-decoration: none;margin-top: 3px;">Shop Medicines</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<br>


  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-6 col-lg-4 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title text-center font-weight-bold">Sign In</h3>

<form method='POST' class="form-signin mx-auto"> {%csrf_token %}

 {% for message in messages %}

                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
            {% endfor %}

  {{ form.username | add_class:"form-control" | attr:"placeholder:Username"  }}<br>
  {{ form.password | add_class:"form-control" | attr:"placeholder:Password" }}<br>

  <button type='submit' class="btn btn-dark btn-block text-uppercase">Submit</button>



</form>
<a href='{%url "password_reset" %}'>Forgot password?</a><br>
<a href='{%url "rmp:user_register" %}'>Dont have a account?create one!</a>
</div>
        </div>
      </div>
    </div>
</div>

<br><br><br><br><br><br><br><br>
{% endblock %}
