{% extends 'base.html' %}


{% load static %}

{% block how_we_work %}

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a href="index.html" class="navbar-brand"><b></b>SMART HEALTHCATRE SYSTEM</b></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href='{% url "home" %}' class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href='{% url "about" %}' class="nav-link">About Us</a>
          </li>
          <li class="nav-item active">
            <a href='{% url "how_we_work" %}' class="nav-link">How we work</a>
          </li>
          <li class="nav-item">
            <a href='{% url "contact" %}' class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href='{% url "login" %}' class="nav-link">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- PAGE HEADER -->
  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>How we work</h1>
        
        </div>
      </div>
    </div>
  </header>
<!-- SERVICES SECTION -->
  <section id="services" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-dark text-white">
              <h3>Rmp view</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">Rmp logs in First</h4>
              <p class="card-text">he will be taken to rmp homepage where he can find his profile, meet a doctor option, booking history, patient list , buy</p>
              <ul class="list-group">
                <li class="list-group-item">
                   First he wil ask patient symtoms.
                </li>
                <li class="list-group-item">
                   Later he will note details in patient records.
                </li>
                <li class="list-group-item">
                  Now he will check avaliability of the doctor.
                <li class="list-group-item">
                   He will contact doctor via video call or chatbot as preffered by patient paying the amount.
                </li>
                <li class="list-group-item">
                   After that he will dowload prescription and then buy medicines in the cart.
                </li>
                <li class="list-group-item">
                  He will add all details to patient record.
                </li>
              </ul>
             <!-- <a href="#" class="btn btn-danger btn-block mt-2">Get It</a>-->
            </div>
            <!--<div class="card-footer text-muted">
              1 Year Plan
            </div>-->
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-dark text-white">
              <h3>Doctor view</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">Doctor logins first</h4>
              <p class="card-text"> Doctor will be directed to doctor homepage after logging in, there he can find his profile,attending patients , work history.</p>
              <ul class="list-group">
                <li class="list-group-item">
                   He will see patient requests that he received from rmp doctors.
                </li>
                <li class="list-group-item">
                   He will attend patients via video call or chatbot as requested by the  patients.
                </li>
                <li class="list-group-item">
                  Next he will send a prescription to rmp in a pdf format that is autogenerated after ending call. 
                </li>
                <li class="list-group-item">
                 He can see all his payments details in his invoice page.
                </li>
                <li class="list-group-item">
                  He can attend other patient after completing this call or chat with this patient.
                </li>
              </ul>
              <!--a href="#" class="btn btn-danger btn-block mt-2">Get It</a-->
            </div>
            <!--iv class="card-footer text-muted">
              1 Year Plan
            </div>-->
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-dark text-white">
              <h3>Medicine Cart</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">Cart for medicines</h4>
              <p class="card-text">Here in this cart you can directly buy medicines which will be delivered at your door.</p>
              <ul class="list-group">
                <li class="list-group-item">
                  the best part of this cart is when you complete a video call or chatbot with a doctor then a automatically generated prescription pdf with details of tablets will be sent.
                </li>
                <li class="list-group-item">
                   Medicines will be auto searched in the cart.
                </li>
                <li class="list-group-item">
                   you can make changes as you wish like you can add any other medicines if needed and you can remove other medicines if needed.
                </li>
                
                <li class="list-group-item">
                 you can choose payment mode.
                </li>
                <li class="list-group-item">
                  Medicines will be delivered at your doorstep.
                </li>
              </ul>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FAQ -->
  <section id="faq" class="p-5 bg-dark text-white">
    <div class="container">
      <h1 class="text-center">Frequently Asked Questions</h1>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#collapseOne" data-toggle="collapse" data-parent="accordion">
                    Can we make any offline appointment?
                  </a>
                </h5>
              </div>

              <div id="collapseOne" class="collapse">
                <div class="card-body">
                  No. This is only online hospital.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#collapseTwo" data-toggle="collapse" data-parent="accordion">
                    Is there any video call option?
                  </a>
                </h5>
              </div>

              <div id="collapseTwo" class="collapse">
                <div class="card-body">
                  Yes. There are video call and chatbot option.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#collapseThree" data-toggle="collapse" data-parent="accordion">
                    who will help us to contact doctor?
                  </a>
                </h5>
              </div>

              <div id="collapseThree" class="collapse">
                <div class="card-body">
                 Rmp doctors are there to help you and doctor.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#collapseFour" data-toggle="collapse" data-parent="accordion">
                    Is there any cash on delivery option?
                  </a>
                </h5>
              </div>

              <div id="collapseFour" class="collapse">
                <div class="card-body">
                  Yes. You can pay on delivery also.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#collapseFive" data-toggle="collapse" data-parent="accordion">
                    Who will tell us the quantity details?
                  </a>
                </h5>
              </div>

              <div id="collapseFive" class="collapse">
                <div class="card-body">
                  Doctor will send a prescription with all the details of dosage and also timings to take medicines.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#collapseSix" data-toggle="collapse" data-parent="accordion">
                    Who will store our records
                  </a>
                </h5>
              </div>

              <div id="collapseSix" class="collapse">
                <div class="card-body">
                  Rmp will store all your prescriptions.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  
{% endblock %}
