{% extends 'base.html' %}

{% load static %}

{% block home %}

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
      <a href='{% url "home" %}' class="navbar-brand"><b>SMART HEALTHCARE SYSTEM</b></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href='{% url "home" %}' class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href='{% url "about" %}' class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href='{% url "how_we_work" %}' class="nav-link">How we work</a>
          </li>
          <li class="nav-item">
            <a href='{% url "contact" %}' class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href='{% url "login" %}' class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href='{% url "rmp:login_rmp_profile" %}' class="nav-link">Rmp Login</a>
          </li>
          <li class="nav-item nav-item-shop" style="background-color:red;border: 15px;">
            <a href='{% url "shoppingPortalApp:main" %}' class="nav-link-shop" style="text-decoration: none;margin-top: 3px;">Shop Medicines</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item carousel-image-1 active">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1 class="display-2 text-black">Complete rural health care</h1>
              <p class="lead text-black">Get connected to specialised docor in every field thopurh your RMP. Also the hassle of getting out of your town.
                </p>
              <a href="#" class="btn btn-danger btn-lg">Sign Up Now</a>
            </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-2">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block mb-5">
              <h1 class="display-2 text-black ">Get Recommendations</h1>
              <p class="lead text-black">Get specialised recommendations from experienced doctors rom your hometown.</p>
              <a href="#" class="btn btn-primary btn-lg">Learn More</a>
            </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-3">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1 class="display-2 text-black">Buy medicines online</h1>
              <p class="lead text-black">Get your medicines delivered at your doorstep guranteed.</p>
              <a href="#" class="btn btn-success btn-lg">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon"></span>
      </a>

      <a href="#myCarousel" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>

    <section id="home-icons" class="py-5">
    <div class="container-fluid">
       <div class="row">
         <div class="col-md-12">
            <h1 class="text-center">Categories of service</h1><br>
         </div>

       </div>

      </div>
    <div class="container">

      <div class="row">
        <div class="col-md-4 mb-4 text-center">

          <h3>Doctors</h3>
          <p>Doctors of villages having proper knowlege and proper knowlege of using technology and having knowlwge in various domains of medical sciences can use this portal. They can contribute to this service. Be a part of this amazing journey for extending healthcare to your fellow villagers. </p>
          <a href='{% url "rmp:make_rmp_profile" %}'><button type="button" class="btn btn-dark">Sign Up</button></a>
        </div>
        <div class="col-md-4 mb-4 text-center">

          <h3>Specialists</h3>
          <p>Specialists with proper knownlege in a specific domain can register for this domain. Be a member of smart health care and help in the growth of rural india. Also you can increase your paitents and earn some extra credits. Upgrade your carrier and take yourself to the next level.</p>
          <a href='{% url "user_register" %}'><button type="button" class="btn btn-dark">Sign Up</button></a>
        </div>
        <div class="col-md-4 mb-4 text-center">

          <h3>Medicines</h3>
          <p>We have medicies of all diseases. Whether its a small fever or a complicated disease.Some medicines needs to be pedcribed form a speacilist and others can be brought without iys need. Get your medicines delivered at your doorstep without any hasssle. </p>
          <a href='{% url "rmp:make_rmp_profile" %}'><button type="button" class="btn btn-dark">Shop Now</button></a>
        </div>
      </div>
    </div>
  </section>

  <!-- HOME HEADING SECTION -->
  <section id="home-heading" class="p-5">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1>Are You Ready To Get Started?</h1>
            <p class="d-none d-md-block">Join our exciting journey. Now no one will die due will lack of medical practitoners. Let everyone stay fit and healthy
              consequatur soluta.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section id="info" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <h3>Doctors and Departments</h3>
          <p>We have specialists of all avialable departments. We check diseases of all stages. If we won't be able to erve online we take initivate to send doctors offline. To search for a specific doctor of department </p>
          <a href="about.html" class="btn btn-outline-danger btn-lg">Search</a>
        </div>
        <div class="col-md-6">
          <img src='{% static "img/doctor_dept.png" %}' alt="doctor" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <!-- VIDEO PLAY -->
  <section id="video-play">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container p-5">
            <a href="#" class="video" data-video="https://www.youtube.com/embed/ShW9zzztzKk" data-toggle="modal" data-target="#videoModal">
              <i class="fas fa-play fa-3x"></i>
            </a>
            <h1>See What We Do</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PHOTO GALLERY -->
  <section id="gallery" class="py-5">
    <div class="container">
      <h1 class="text-center">Photo Gallery</h1>
      <p class="text-center">Check out our photos</p>
      <div class="row mb-4">
        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/560x560" data-toggle="lightbox" data-gallery="img-gallery" data-height="400"
            data-width="560">
            <img src='{% static "img/gallery/1.jpg" %}' alt="" class="img-fluid gallery" style="width:90%;height:90%">
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/561x561" data-toggle="lightbox" data-gallery="img-gallery" data-height="400"
            data-width="561">
            <img src='{% static "img/gallery/2.jpg" %}' alt="" class="img-fluid gallery" style="width:90%;height:90%">
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/562x562" data-toggle="lightbox" data-gallery="img-gallery" data-height="400"
            data-width="562">
            <img src='{% static "img/gallery/3.jpg" %}' alt="" class="img-fluid gallery" style="width:90%;height:90%">
          </a>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/563x563" data-toggle="lightbox" data-gallery="img-gallery" data-height="400"
            data-width="563">
            <img src='{% static "img/gallery/4.jpg" %}' alt="" class="img-fluid gallery" style="width:90%;height:90%">
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/564x564" data-toggle="lightbox" data-gallery="img-gallery" data-height="400"
            data-width="564">
            <img src='{% static "img/gallery/5.jpg" %}' alt="" class="img-fluid gallery" style="width:90%;height:90%">
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/565x565" data-toggle="lightbox" data-gallery="img-gallery" data-height="400"
            data-width="565">
            <img src='{% static "img/gallery/6.jpg" %}' alt="" class="img-fluid gallery" style="width:90%;height:90%">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- NEWSLETTER -->
  <section id="newsletter" class="text-center p-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Sign Up For Our Newsletter</h1>
          <p>Get acees to out voultary programs and initiatives taken by our members. You can have the opportunity to participate in these initiatives</p>
          <form class="form-inline justify-content-center">
            <input type="text" class="form-control mb-2 mr-2" placeholder="Enter Name">
            <input type="text" class="form-control mb-2 mr-2" placeholder="Enter Email">
            <button class="btn btn-primary mb-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->



  <!-- VIDEO MODAL -->
  <div class="modal fade" id="videoModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
          <iframe src="" frameborder="0" height="350" width="100%" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
