{% extends 'myapp/base.html' %}

{% load static %}

{% block content %}
<script>

</script>
<!-- NAV BAR -->
     
    <style>
        .checked{
            color: orange;
        }
        .button {
            border: none;
            color: black;
            background-color: #edecea;
            padding: 10px 40px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .button:hover{
            background-color: rgb(244, 173, 66);
            color: white;
            text-decoration:none;
        }
       
        td{
            padding:15px 45px;
            font-size: 17px;
        }
        .heading_btn{
            padding:15px 45px;
            font-size: 20px;
            cursor: pointer;
        }
        .heading_btn:hover{
            background-color: rgb(244, 173, 66);
        }

    </style>


<div class="container_fulid" style="margin-top: 5%">
        <div class="row">
            
            <div class="col-md-10 col-sm-offset-1">
                <div class="col-xs-8 text-left" style='padding: 15px 45px'>
                    <span style="font-size: 35px; ">Dr. {{profile.first_name}} {{profile.last_name}}</span>&nbsp&nbsp&nbsp

                </div>
                <div style="margin-top: 7px;color: blue;font-size: 20px; padding: 1px 45px" >
                    {{profile.speciality}}
                </div>

          <br><br>
                <div class="btn-group btn-group-md" style='padding: 2px 45px'>
                    <!-- <button class="button button1">Send Message</button> -->
            <a href='#' class="button button3" role="button">Basic Info</a>
            <a href='#' class="button button3" role="button">Upcoming Appointments</a>
            <a href='#' class="button button3" role="button">Attended Appointments</a>
            <a href='#' class="button button3" role="button">Paitent Records</a>
            <a href='#' class="button button3" role="button">Orders</a>
                    <!-- <button class="button button2" href="#contact"> Contact</button> -->
                
                </div>

                    <br><br>


          <div style='padding: 0px 45px'>
          <hr>
          </div>
                    <br>

                <!-- <div style="display: none;" id="Experience">
                    <span style="font-size: 17px;">Doctors's experience will be here.</span>
                </div> -->

                    <div style="padding: 5px 45px;font-size: 16px;opacity: 0.5;">
                        BASIC INFORMATION
                    </div><br>
                    <div>
                        <table>
                            
                            <tr>
                                <td>Gender</td>
                                <td>{{profile.gender}}</td>
                            </tr>
                        </table>
                    </div><br>
                    <div style="padding: 15px 45px;font-size: 16px;opacity: 0.5;">
              <a name="contact"></a>
                        CONTACT INFORMATION
                    </div><br>
                    <table>
                        <tr>
                            <td>Phone</td>
                            <td>+91{{profile.mobile_no}}</td>
                        </tr>
                        <tr>
                            <td>Locality</td>
                            <td>{{profile.locality}}</td>
                        </tr>
              <tr>
                            <td>Hospital</td>
                            <td>{{profile.hospital}}</td>
                        </tr>
                        <tr>
                            <td>E-Mail</td>
                            <td>{{profile.email_id}}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>

<br><br><br><br>

{% endblock %}