{% extends "myapp/base.html" %}
{% block content %}
    <form method="post" action="{% url 'myapp:myapp-index' %}">
        {% csrf_token %}
        <table class="table">
            <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Departments</th>
                <th>Hospital</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in all_data %}
                <tr>
                    <td> {{ item.doctor_name.first_name }} {{ item.doctor_name.last_name }}</td>
                    <td> {{ item.doctor_name.speciality }}</td>
                    <td>{{ item.doctor_name.hospital }}</td>
                    <td><button formaction="{% url 'myapp:myapp-fullindex' %}" value="{{ item.doctor_name.user }}" name="doctor">View</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock content %}