{% extends "myapp/base.html" %}
{% block content %}
    <style>

        .zoom:hover {
            transform: scale(1.1);
        }

        .column {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0 8px;
        }

        @media screen and (max-width: 650px) {
            .column {
                width: 100%;
                display: block;
            }
        }

        .card {
            box-shadow: 0 4px 8px 0 slategray;
        }

        .container {
            padding: 0 16px;
        }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

        .title {
            color: grey;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: rgba(9,50,255,0.13);
            text-align: center;
            cursor: pointer;
            width: 100%;
            text-decoration: none;
            font-weight: bold;
        }

        .button:hover {
            background-color: #777;
            text-decoration: none;
        }
    </style>
    <br>
    <h1><em>RMPs Awaiting Confirmation</em></h1>
    <br>
    <div class="row">
        {% for rmp in rmps %}
            <div class="column">
                <div class="card">
                    <div class="zoom">
                        <img src="{{ rmp.profile_photo.url }}" class="img-responsive img_list"  style="margin-top: 5%; height:250px;width:100%"><br><hr>
                    </div>
                    <div class="container">
                        <h5>{{rmp.first_name}} {{rmp.last_name}}</h5>

                        Date of Birth : <span>{{ rmp.speciality }}</span><br>
                        Gender : <span>{{ rmp.gender }}</span><br>
                        Email-ID : <span>{{ rmp.email_id }}</span><br>
                        Mobile No : <span>{{ rmp.mobile_no }}</span><br>
                        Qualification : <span>{{ rmp.qualification }}</span><br>
                        Speciality : <span>{{ rmp.speciality }}</span><br>
                        Locality : <span>{{ rmp.locality }}</span><br>
                        Hospital:<a href="#"> {{rmp.hospital}}</a><br><br>
                        <div class="button"><a href='{{ rmp.get_absolute_url_verify }}'>Confirm Doctor</a></div>
                        <br><br><br><br>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br><br><br><br><br>
{% endblock content %}
